.container {
    padding-top: 20px;
}

.contactText {
    padding: 20px;
    text-align: left;

    h1 {
        font-size: clamp(40px, 5vw, 70px);
        color: #044582;
        margin: 0px;
    }

    h2 {
        margin: 0px;
        font-size: clamp(40px, 5vw, 70px);
    }
}

.formContainer {
    width: 100%;
    background-color: transparent;
    padding: 20px;

    input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #000000;
        border-radius: 0;

        &::placeholder {
            color: #7d7d7d;
        }
    }

    textarea {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #000000;
        border-radius: 0;
        resize: none;

        &::placeholder {
            color: #7d7d7d;
        }
    }
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;

    button {
        font-size: 1rem;
        height: auto;
        background-color: transparent;
        display: "flex";
        justify-content: "flex-end";
        border: 3px solid #044582;
        border-radius: 0.75rem;
    }
}